.worksheet-group-text {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
}

.worksheet-group-details {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
  color: #cbb9bf;
}
